{% extends 'message_and_list/base.html' %}


{% block content %}
<div class="form-group">
    <form action="." method='POST'>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter name" class="form-control">
        <input type="text" name="name_lat" placeholder="Enter name lat" class="form-control">
        <input type="number" step="0.01" name="price" placeholder="Enter price" class="form-control">
        <textarea name="summary" id="" cols="30" rows="10" required="true" class="form-control"></textarea>
        <input type="submit" value='Save' class="form-control btn btn-success">
    </form>
</div>
{% endblock content %}
